/*MENU
0 - Geral
1 - Menu
2 - Home
3 - Apresentation section
4 - Informations section
5 - Stores Section
6 - Section Assine
7 - Footer
*/

/* 0 - Geral */

:root {
    --preto-primario: #000;

    --preto-secundario: #252525;

    --branco-primario: #FFF;

    --cinza-primario: #e7e4d8;

    --cinza-footer: #d6d3c8;

    --marrom-primario: #E9E5D9;

    --marrom-secundario: #B8B4AB;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 1 - Menu */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15%;
    background: var(--preto-secundario);
    text-decoration: none;
}

.menu-logo {
    cursor: pointer;
}

.menu-nav li, a {
    padding: 0 5px;
    font-family: Georgia, serif;
    color: var(--branco-primario);
    display: inline-block;
}

.menu-nav li a::after {
    display: block;
    content: '';
    height: 2.5px;
    width: 0px;
    background: var(--branco-primario);
    transition: 0.5s;
}

.menu-nav li a:hover::after {
    width: 100%;
    background: var(--branco-primario);
}

/* 2 - Home */

.home {
    background-image: url(../img/bg-intro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15% 0;
    font-family: Georgia, serif;
    color: var(--branco-primario);
    text-align: center;
}

.home h1 {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
}

.home h1::after {
    display: block;
    content: '';
    height: 4px;
    width: 20px;
    margin: 10px auto;
    background-color: var(--branco-primario);
}

.home p {
    font-style: italic;
}

/* 3 - Apresentation section */

.apresentation {
    padding: 60px 0;
}

.apresentation h2 {
    text-align: center;
    text-transform: initial;
    font-family: Georgia, serif;
    font-size: 2em;
    font-weight: bold;
}

.coffee-images {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.image {
    padding: 0 10px;
}

.image h3 {
    background-color: var(--preto-secundario);
    padding: 5px;
    width: 190px;
    font-family: Georgia, serif;
    font-size: 2em;
    font-style: italic;
    text-align: center;
    color: var(--branco-primario);
    position: relative;
    top: -25px;
}

.apresentation-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.apresentation-text p {
    text-align: center;
    width: 400px;
    font-family: Georgia, serif;
    font-style: italic;
}

/* 4 - Informations section */

.informations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    background-color: var(--marrom-primario);
    border-top: 3px solid var(--marrom-secundario);
    border-bottom: 3px solid var(--marrom-secundario);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.states {
    margin: 0 20px;
}

.states .info-paulista::before {
    display: block;
    content: '';
    border-radius: 50%;
    margin: 20px auto;
    border: 5px solid var(--cinza-primario);
    box-shadow: 0 0 0 8px #532a00;
    background: #532a00;
    width: 100px;
    height: 100px;
}
.states .info-carioca::before {
    display: block;
    content: '';
    border-radius: 50%;
    margin: 20px auto;
    border: 5px solid var(--cinza-primario);
    box-shadow: 0 0 0 8px #da7522;
    background: #da7522;
    width: 100px;
    height: 100px;
}
.states .info-mineiro::before {
    display: block;
    content: '';
    border-radius: 50%;
    margin: 20px auto;
    border: 5px solid var(--cinza-primario);
    box-shadow: 0 0 0 8px #e4b438;
    background-color: #e4b438;
    width: 100px;
    height: 100px;
}

.states h2 {
    font-family: Georgia, serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 10px;

}

.states p {
    font-family: Georgia, serif;
    font-size: 0.85em;
    width: 300px;
}

.info-button {
    text-align: center;
    font-family: Georgia, serif;
    font-size: 1.125em;
    font-weight: bold;
    text-transform: uppercase;
    border: 3px solid var(--preto-secundario);
    width: 180px;
    padding: 15px;
    margin-top: 60px;
    color: var(--preto-primario);
    transition: 0.4s;
}

.info-button:hover {
    color: var(--cinza-primario);
    transition: 0.4s;
    background: var(--preto-secundario);
}

/* 5 - Stores Section */

.lojas {
    display: flex;
    flex-direction: column;
    padding: 60px 0;
}

.shop-items {
    display: flex;
    justify-content: center;
}

.store-txt {
    padding: 0 20px;
}

.store-txt h2{

}